name: Deploy

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::187359546722:role/webdev-portfolio-deploy-role
          aws-region: eu-west-2

      - run: npm ci
      - run: npm run build

      - run: aws s3 sync dist/ s3://rumpeltin.io --delete

      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation \
            --distribution-id E1K5NLQFSYCCVP \
            --paths "/*"

